---
layout: default
---

<small>{{ page.date | date: "%Y-%m-%d" }}</small>
<h1>{{ page.title }}</h1>

{% assign post_author = page.author | default: site.author %}
{% if post_author %}
  <p class="view">by {{ post_author }}</p>
{% endif %}

{{ content }}

<hr>
<p class="postscript"><small>부족한 내용이나 잘못된 정보가 있다면 <a href="mailto:jeong.jinyeong95@gmail.com">jeong.jinyeong95@gmail.com</a>으로 연락 바랍니다.</small></p>


{% if page.tags != empty %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}